a {
  position: absolute;
  color: white;
  bottom : 15px;
  left:10px;
  font-family: arial;
  text-decoration: none;
  font-size: 18px;
}	
canvas {
			width: 100%;
			height: 100%;
			background: #000;
		}

		html, body {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}